@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "poppins", sans-serif;
  color: white;
  background: radial-gradient(99.14% 266.98% at 100% 0%, #161F2C 0%, #12323F 22.52%, #000000 100%) ;
  word-spacing: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  margin: auto;
}
*{
  font-family: 'Poppins', sans-serif;
}
.gradient-blue{
  background: rgba(68, 104, 197, 0.23);
backdrop-filter: blur(10px);
}
.bg{
  background: radial-gradient(99.14% 266.98% at 100% 0%, #161F2C 0%, #12323F 22.52%, #000000 100%) 
}
.textgradient {
  background: linear-gradient(267.16deg, #0D9488 29.41%, #4468C5 63.84%, #8C70DC 99.41%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.textgradient-pp{
  background: linear-gradient(267.18deg, #F86C75 9.8%, #5E25FF 99.4%, #4468C5 99.41%);
-webkit-background-clip: text;
}
.textgradient-green{
  background: linear-gradient(173.4deg, #0D9488 23.17%, #FFB100 94.82%);
-webkit-background-clip: text;
}
.cursor::after {
  display: block;
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: #fff;
  animation: cursor 0.6s linear infinite alternate;
  will-change: opacity;
}
.will-change-transform {
  will-change: transform;
}
@keyframes cursor {
  0%,
  40% {
    opacity: 1;
  }

  60%,
  100% {
    opacity: 0;
  }
}

h2{
  font-weight: bold;
}
.textgradient-1{
  background: linear-gradient(267.18deg, #F86C75 9.8%, #5E25FF 99.4%, #4468C5 99.41%);
-webkit-background-clip: text;
}
.textgradient-2{
  background: linear-gradient(267.18deg, #5328FF 9.8%, #4468C5 31.11%, #8C70DC 99.41%);
-webkit-background-clip: text;
}
.gradient4{
  background: linear-gradient(186.27deg, #2100A3 -2.07%, #4A6ECB 62.83%, #8C70DC 93.58%);

}
.gradient3{
  background: linear-gradient(186.47deg, #FF404B 4.67%, #5E25FF 105.66%, #4468C5 105.68%);
}
.gradient2{
  background: linear-gradient(201.67deg, #FF2E00 20.06%, #FF9900 86.82%);
}
.gradient1{
  background: linear-gradient(11.15deg, #00DFCB 8.75%, #4468C5 47.29%, #3F07DD 92.37%);
  
}
.header {
  background: linear-gradient(180deg, #007966 0%, #010F0D 106.67%);
}
.help_box{
  /* background: #F4F4F4; */
box-shadow: -9px 10px 10px rgba(0, 0, 0, 0.25), inset 0px 0px 20px rgba(24, 5, 40, 0.5);
border-radius: 17.4676px;
}
.complete-bg{
  background: linear-gradient(179.9deg, rgba(247, 247, 247, 0.16) 0.09%, rgba(1, 15, 13, 0) 110.65%);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 47px;
}

.accordion-section + .accordion-section {
  border-top: 0;
  color: #fff;
}

.accordion-section a {
  text-align: left;
  display: block;
  appearance: none;
  width: 100%;
  border-bottom: rgb(107 114 128) 1px solid;
  padding: 10px;
  cursor: pointer;
  color: #fff;
}

/*.accordion-section button:hover {
 background-color: #eff0f3;
}*/

.accordion-section__content--active {
  color: #fff;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.image-wrapper {
  background: rgba(0, 0, 0, 0.2);
  bottom: -50px;
  height: 50px;
  left: 0;
  position: absolute;
  transition: bottom 0.15s linear;
  width: 100%;
}

.hidden-input {
  left: -999px;
  position: absolute;
}

.edit {
  color: white;
  cursor: pointer;
  font-size: 22px;
  top: 10px;
}

.container{
  background: linear-gradient(180deg, #05171F 0%, rgba(70, 64, 64, 0) 100%);
border-radius: 26px;
}
.textgradient-sea{
  background: linear-gradient(267.18deg, #0D9488 9.8%, #4468C5 99.4%, #8C70DC 99.41%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.gradient-green2{
  background: linear-gradient(180deg, #0D9488 0%, rgba(217, 217, 217, 0) 100%);
border-radius: 40px;
}
.gradient-black{
  background: linear-gradient(180deg, #000215 0%, rgba(102, 102, 102, 0) 95.67%);
border-radius: 40px;
}