@tailwind base;
@tailwind components;
@tailwind utilities;
#__next{
  height: 100%;
}
html, body {
  height: 100%;
  /* overflow: hidden; */
  font-family: 'Poppins', sans-serif;
}
.bg{
  background: radial-gradient(99.14% 266.98% at 100% 0%, #161F2C 0%, #12323F 22.52%, #000000 100%) 
}
.textgradient {
  background: linear-gradient(267.16deg, #0D9488 29.41%, #4468C5 63.84%, #8C70DC 99.41%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.textgradient-pp{
  background: linear-gradient(267.18deg, #F86C75 9.8%, #5E25FF 99.4%, #4468C5 99.41%);
-webkit-background-clip: text;
}