@tailwind base;
@tailwind components;
@tailwind utilities;
#__next{
  height: 100%;
}
html, body {
  height: 100%;
  /* overflow: hidden; */
  font-family: 'Poppins', sans-serif;
}
.bg{
  background: radial-gradient(99.14% 266.98% at 100% 0%, #161F2C 0%, #12323F 22.52%, #000000 100%) 
}
.textgradient {
  background: linear-gradient(267.16deg, #0D9488 29.41%, #4468C5 63.84%, #8C70DC 99.41%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.textgradient-pp{
  background: linear-gradient(267.18deg, #F86C75 9.8%, #5E25FF 99.4%, #4468C5 99.41%);
-webkit-background-clip: text;
}
.textgradient-green{
  background: linear-gradient(173.4deg, #0D9488 23.17%, #FFB100 94.82%);
-webkit-background-clip: text;
}
.cursor::after {
  display: block;
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: #fff;
  animation: cursor 0.6s linear infinite alternate;
  will-change: opacity;
}
.will-change-transform {
  will-change: transform;
}
@keyframes cursor {
  0%,
  40% {
    opacity: 1;
  }

  60%,
  100% {
    opacity: 0;
  }
}

h2{
  font-weight: bold;
}
.gradient4{
  background: linear-gradient(186.27deg, #2100A3 -2.07%, #4A6ECB 62.83%, #8C70DC 93.58%);

}
.gradient3{
  background: linear-gradient(186.47deg, #FF404B 4.67%, #5E25FF 105.66%, #4468C5 105.68%);
}
.gradient2{
  background: linear-gradient(201.67deg, #FF2E00 20.06%, #FF9900 86.82%);
}
.gradient1{
  background: linear-gradient(11.15deg, #00DFCB 8.75%, #4468C5 47.29%, #3F07DD 92.37%);
  
}
.header {
  background: linear-gradient(180deg, #007966 0%, #010F0D 106.67%);
}
.help_box{
  background: #F4F4F4;
box-shadow: -9px 10px 10px rgba(0, 0, 0, 0.25), inset 0px 0px 20px rgba(24, 5, 40, 0.5);
border-radius: 17.4676px;
}